*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.navbar{
  font-size: 16px;
}

.img-thumbnail{
  transition: transform .3s
}
.img-thumbnail:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 